* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #12071c;
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;

  //scrollbar
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(238, 238, 238);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #12071c;
  }
}

a {
  color: inherit;
  text-decoration: none;
}